body {
  background-color:grey;
  margin-left:0px;
  margin-right:0px;
  padding: 0px;
  margin: 0px;
  height: 100vh;
}

@font-face {
  font-family: "Voyage-Regular";
  src: url("./Voyage-Regular.woff");
}

@font-face {
  font-family: "Geomanist";
  src: url("./geomanist-regular-webfont.ttf");
}

.image {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100vh;
  overflow: hidden;
  object-fit: fill;
  cursor: none;
  background-image: url("./bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.cursor {
 position: fixed;
 width: 120px;
 height: 120px;
 pointer-events: none;
 content:url('./coin.png');
 cursor: none;
 z-index: 99;
}

.zero {
  text-align: center;
  color: white;
  cursor: none;
  text-align: center;
  position: relative;
  pointer-events: none;
  font-family: "Voyage-Regular";
  height: 100%;
  width: 100%;
  font-size: 3em;
  letter-spacing: 5px;
  text-shadow: 1px 1px #3d3b35;
}

.vl {
  border-left: 1px solid white;
  height: 100px;
  position: relative;
  margin-left: 50%;
  bottom: 100px;
  pointer-events: none;
  cursor: none;
}

#wrapper {
  height: 13000px;
  position: relative;
  top: 10;
  margin: 0;
  padding: 0;
  cursor: none;
  z-index: 9;
  overflow: hidden;
  pointer-events: none;
  cursor: none;
}

.wrapper {
  overflow: hidden;
}

.hidden {
  position: relative;
  height: 100vh;
  pointer-events: none;
  cursor: none;
}

section {
  font-size: 3em;
  color: white;
  cursor: none;
  width: 100%;
  height: 100%;
  font-family: "Voyage-Regular";
  letter-spacing: 5px;
  overflow: hidden;
  pointer-events: none;
  cursor: none;
  text-shadow: 1px 1px #3d3b35;
}


.first {
  margin-left: 10%;
  bottom: 30%;
  opacity: 0;
  position: fixed;
}

.second {
  margin-left: 10%;
  bottom: 30%;
  opacity: 0;
  position: fixed;
}

.third {
  margin-left: 10%;
  bottom: 30%;
  opacity: 0;
  position: fixed;
}

.forth {
  margin-left: 10%;
  bottom: 30%;
  opacity: 0;
  position: fixed;
}

.fifth {
  margin-left: 10%;
  bottom: 30%;
  opacity: 0;
  position: fixed;
}

.sixth {
  margin-left: 10%;
  bottom: 30%;
  opacity: 0;
  position: fixed;
}

.seventh {
  margin-left: 10%;
  bottom: 24%;
  opacity: 0;
  position: fixed;
  font-size: 1.2em;
  font-family: Geomanist;
  color: white;
  text-shadow: 1px 1px #3d3b35;
  pointer-events: none;
  cursor: none;
}

.form {
  cursor: none;
  position: fixed;
  width: 100%;
  opacity: 0;
  font-family: "Voyage-Regular";
  z-index: 40;
  margin-left: 10%;
  bottom: 30%;
  pointer-events: none;
  cursor: none;
  text-shadow: 1px 1px #3d3b35;
}

label {
  bottom: 20%;
  cursor: none;
  font-size: 3em;
  font-family: "Voyage-Regular";
  color: white;
  padding: 5px;
  z-index: 40;
  pointer-events: none;
  cursor: none;
  opacity: 1;
}

textarea {
  font-size: 1.2em;
  font-family: Geomanist;
  color: white;
  width: 15%;
  height: 25px;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  overflow: auto;
  cursor: none;
  overflow: hidden;
  margin-bottom: -10px;
  text-transform: uppercase;
  z-index: 40;
  pointer-events: none;
  cursor: none;
  text-shadow: 1px 1px #3d3b35;
  opacity: 1;
}

.video_container {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  overflow: hidden;
  object-fit: fill;
  pointer-events: none;
  cursor: none;
  }

  #video_stars {
  z-index: 3; 
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

#video_space2 {
  z-index: 3; 
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.hideme {
  opacity: 0;
  display: none;
}

.shrink {
  animation: coinAnim 6s forwards;
}

.grow {
  animation: grow 3s forwards;
}

.involve {
  animation: spaceAnim 4s forwards;
}

@keyframes coinAnim {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes spaceAnim {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes grow {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(.3);
    opacity: 1;
  }
}

@keyframes anim2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes anim {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.disolve {
  animation: anim 2s forwards;
}

.expand {
    animation: cursorAnim .5s forwards;
}

.deflate {
  animation: cursorAnim2 .5s forwards;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(3);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(3);
    }
    to {
        transform: scale(1);
    }
}