body {
  background-color:grey;
  margin-left:0px;
  margin-right:0px;
  padding: 0px;
  margin: 0px;
  height: 100vh;
}

@font-face {
  font-family: "Voyage-Regular";
  src: url("./fonts/Voyage-Regular.woff");
}

@font-face {
  font-family: "Geomanist";
  src: url("./fonts/geomanist-regular-webfont.ttf");
}


::selection {
    color: none;
    background: none;
}
/* For Mozilla Firefox */
::-moz-selection {
    color: none;
    background: none;
}

a {
  color: white; /* Inherit text color of parent element. */
  text-decoration: none; /* Remove underline. */
}

a:link {
  text-decoration: none;
}

a:visited { text-decoration: none; color:white; }

.container {
  position: relative;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  cursor: none;
  z-index: 60;
}

.image {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100vh;
  overflow: hidden;
  object-fit: fill;
  cursor: none;
  background-image: url("./images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.cursor {
 position: fixed;
 width: 120px;
 height: 120px;
 pointer-events: none;
 content:url('./images/coin.png');
 cursor: none;
 z-index: 99;
}

.zero {
  top: 0;
  text-align: center;
  color: white;
  cursor: none;
  position: absolute;
  pointer-events: none;
  font-family: "Voyage-Regular";
  height: 100%;
  width: 100%;
  font-size: 3em;
  letter-spacing: 5px;
  text-shadow: 1px 1px #3d3b35;
}

.vl {
  border-left: 1px solid white;
  height: 100px;
  position: relative;
  margin-left: 50%;
  bottom: 0px;
  pointer-events: none;
  cursor: none;
  position: absolute;
}

#wrapper {
  height: 13000px;
  position: relative;
  top: 10;
  margin: 0;
  padding: 0;
  cursor: none;
  z-index: 9;
  overflow: hidden;
  pointer-events: none;
  cursor: none;
}

.wrapper {
  overflow: hidden;
}

.hidden {
  position: relative;
  height: 100vh;
  pointer-events: none;
  cursor: none;
}

section {
  font-size: 3em;
  color: white;
  cursor: none;
  width: 100%;
  height: 100%;
  font-family: "Voyage-Regular";
  letter-spacing: 5px;
  overflow: hidden;
  pointer-events: none;
  cursor: none;
  text-shadow: 1px 1px #3d3b35;
}


.first {
  margin-left: 10%;
  bottom: 30%;
  opacity: 0;
  position: fixed;
}

.second {
  margin-left: 10%;
  bottom: 30%;
  opacity: 0;
  position: fixed;
}

.third {
  margin-left: 10%;
  bottom: 30%;
  opacity: 0;
  position: fixed;
}

.forth {
  margin-left: 10%;
  bottom: 30%;
  opacity: 0;
  position: fixed;
}

.fifth {
  margin-left: 10%;
  bottom: 30%;
  opacity: 0;
  position: fixed;
}

.sixth {
  margin-left: 10%;
  bottom: 30%;
  opacity: 0;
  position: fixed;
}

.seventh {
  margin-left: 10%;
  bottom: 24%;
  opacity: 0;
  position: fixed;
  font-size: 1.2em;
  font-family: Geomanist;
  color: white;
  text-shadow: 1px 1px #3d3b35;
  pointer-events: none;
  cursor: none;
}

.eighth {
  margin-left: 10%;
  bottom: 30%;
  /*opacity: 0;*/
  position: fixed;
  pointer-events: none;
  cursor: none;
}

.nineth {
  margin-left: 10%;
  bottom: 30%;
  opacity: 0;
  position: fixed;
  pointer-events: none;
  cursor: none;
}

.form {
  cursor: none;
  position: fixed;
  width: 100%;
  opacity: 0;
  font-family: "Voyage-Regular";
  z-index: 40;
  margin-left: 10%;
  bottom: 30%;
  pointer-events: none;
  cursor: none;
  text-shadow: 1px 1px #3d3b35;
}

label {
  bottom: 20%;
  cursor: none;
  font-size: 3em;
  font-family: "Voyage-Regular";
  color: white;
  padding: 5px;
  z-index: 40;
  pointer-events: none;
  cursor: none;
  opacity: 1;
}

textarea {
  font-size: 1.2em;
  font-family: Geomanist;
  color: white;
  width: 15%;
  height: 25px;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  overflow: auto;
  cursor: none;
  overflow: hidden;
  margin-bottom: -10px;
  text-transform: uppercase;
  z-index: 40;
  pointer-events: none;
  cursor: none;
  text-shadow: 1px 1px #3d3b35;
  opacity: 1;
}

.video_container {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  overflow: hidden;
  object-fit: fill;
  pointer-events: none;
  cursor: none;
  }

  #video_stars {
  z-index: 3; 
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

#video_space2 {
  z-index: 3; 
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.second_section {
  width: 100%;
  height: 100vh;
  opacity: 0;
  position: fixed;
  z-index: 5;
  animation-delay: 1.5s;
  overflow: hidden;
  pointer-events: none;
  cursor: none;
}

.hideme {
  opacity: 0;
  display: none;
}

.shrink {
  animation: coinAnim 6s forwards;
}

.grow {
  animation: grow 3s forwards;
}

.involve {
  animation: spaceAnim 4s forwards;
}

@keyframes coinAnim {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes spaceAnim {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes grow {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(.3);
    opacity: 1;
  }
}

@keyframes anim2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes anim {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.disolve {
  animation: anim 2s forwards;
}

.expand {
    animation: cursorAnim .5s forwards;
}

.deflate {
  animation: cursorAnim2 .5s forwards;
}

.heavens {
  animation: heavenAnim 10s forwards;
}

@keyframes heavenAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(3);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(3);
    }
    to {
        transform: scale(1);
    }
}

.pointer {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
  border: none;
  padding: 20px;
  margin: 5px;
  -mox-box-shadow: 0 0 5px white;
  -webkit-box-shadow: 0 0 5px white;
  box-shadow: 0 0 5px white;
  pointer-events: none;
  z-index: 99;
  cursor: none;
  position: fixed;
}

.button {
  position: fixed;
  left: 0;
  cursor: none;
  pointer-events: all;
  outline: none;
  border-radius: 50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  background-color: transparent;
  border: solid white 1px;
  padding: 20px;
  width: 20px;
  margin: 20px;
  transition: background-size .5s, color .5s;
  background-size: 0 0;
  background-position: 50% 50%;
  background-image: radial-gradient(circle at center , white 50%, transparent 50%);
  background-repeat: no-repeat;
  z-index: 98;
  opacity: 1;
}

.button:hover {
    background-size: 200% 200%;
    color: white;
}

.button2 {
  border-width: thin; 
  cursor: none;
  outline: none;
  border-radius: 50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  background-color: white;
  border: solid white 1px;
  padding: 20px;
  width: 20px;
  height: 20px;
  margin: 20px;
  transition: background-size .5s, background-color .5s;
  background-size: 200% 200%;
  background-position: 50% 50%;
  background-image: radial-gradient(circle at center , white 50%, transparent 50%);
  background-repeat: no-repeat;
  opacity: 1;
  position: fixed;
  z-index: 98;
}

.button2:hover {
  background-size: 0% 0%;
  background-color: transparent;
  color: transparent;
}

.about {
  width: 100%;
  height: 100vh;
  background-color: #1c1c1c;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: flex-start;
  opacity: 0;
  animation-delay: 2s;
  transition-timing-function: ease-in;
  text-align: center;
  flex: 1;
  overflow: hidden;
  position: fixed;
  z-index: 80;
  cursor: none;
}

.side {
    display: block;
    text-align: center;
    font-size: 1em;
    font-family: Geomanist;
    color: white;
    margin: 30px;
    padding-top: 25%;
    flex: 1;
    flex-shrink: 1;
}

.email {
    font-size: 1em;
    font-family: Geomanist;
    color: white;
    flex: 1;
    flex-shrink: 1;
}

.text {
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
  border-bottom: solid white 1px;
  font-size: .9em;
  padding: 3px;
  outline: none;
}

.sub {
  cursor: pointer;
}

.submit {
  background-color: transparent;
  border: none;
  color: white;
  font-size: .9em;
  cursor: pointer;
  padding: 3px;
}

.middle {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 1;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    flex: 1;
    overflow: hidden;
    margin-top: 105px;
}

.titlething {
  font-size: 1.2em;
    font-family: Geomanist;
    color: white;
}

.another {
  margin-top: 0;
  font-size: .8em;
  font-family: Geomanist;
  color: white;
}

.vl2 {
  top: 0;
  left: 0;
  border-left: 1px solid white;
  height: 100px;
  width: 1px;
  position: absolute;
  margin-left: 50%;
  z-index: 99;
  opacity: 1;
}

h1 {
    font-size: 3em;
    color: white;
    cursor: none;
    font-family: "Voyage-Regular";
    letter-spacing: 5px;
    text-align: center;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    cursor: pointer;
}

h1:hover{
  cursor: pointer;
}

p {
    display: flex;
    text-align: center;
    font-size: 5em;
    font-family: Geomanist;
    color: white;
    width: 100%;
    overflow: hidden;
}

.about_text {
  font-size: 1em;
  overflow: hidden;
}

footer {
    font-size: .6em;
    font-family: Geomanist;
    color: white;
    position: fixed;
    bottom: 10px;
    text-align: center;
    align-items: center;
    background-color: #1c1c1c;

}

.footer {
  font-size: .6em;
  background-color: #1c1c1c;
}

hr {
    color: white;
    width: 20px;
}

@keyframes disolve_quick {
  from { 
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

.disolve_quick {
  animation: disolve_quick 1s forwards;
  overflow: hidden;
}

@keyframes involve_quick {
  from { 
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.involve_quick {
  animation: involve_quick 1s forwards;
  overflow: hidden;
}

.circle {
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  z-index: 40;
  position: fixed;
  -mox-box-shadow: 0 0 5px white;
  -webkit-box-shadow: 0 0 5px white;
  box-shadow: 0 0 5px white;
  pointer-events: none;
  cursor: none;
  transition-timing-function: ease-out;
  z-index: 99;
}

.coin_text {
  text-align: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.rem {
  position: fixed;
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 1em;
  font-family: Geomanist;
  color: white;
  overflow: hidden;
  z-index: 97;
  pointer-events: none;
  cursor: none;
  bottom: 150px;
  width: 100%;
  justify-content: center;
}